.table {
    table-layout:fixed;
}
.navbar-form{
	padding: 0px;
	margin-top: 0px;
}
.ppanel-default{
	border-width:0px;
}
@media (max-width: 768px) {
	
	.table-responsive{
		padding:0px;
	}
	#panel-body{
		padding-top:5px;
		padding-bottom: 5px;
	}
}