#insert_events .input-group{
	margin-bottom: 5px;
	height: 34px;
}
.select2-choice{
	height: 34px !important;
	border: 0px !important;
}
.ui-datepicker{
	z-index: 2000 !important;
}
.select2-chosen{
	height:34px !important;
	padding-top: 4px;
}
td, th{
	min-width:40px;
}
@media (max-width: 767px){
	.navbar-form .form-group{
		float:left;
		margin: 1px;
	}
	#month-navbar-collapse{
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-form{
		border-top-style: none;
    	border-bottom-style: none;
		box-shadow: none;
		margin-top: 0px;
	}
}
